body{
    background-color: burlywood;
    color: aqua;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
header{
    background-color: blue;
    color: brown;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header h1{
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 2.5em;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline-block;
    margin: 10px;
}

